__pycache__/
OTTEHR/*.pyc
mimiciii_exp/mimiciii
mimiciv_exp/mimiciv
outputs/mimiciii/ADMID_DIAGNOSIS.csv
outputs/mimiciii/ADMID_DIAGNOSIS_TARGET.csv
outputs/mimiciii/ADMID_DIAGNOSIS_selected.csv
outputs/mimiciii/CONS_VISITS.csv
outputs/mimiciii/selected_code_stat.csv
outputs/mimiciii/selected_codes.csv
outputs/mimiciii/selected_df.csv
outputs/mimiciii/selected_summary_mimic.csv
outputs/mimiciii/summary_mimic.csv
config.py
